body{
	background-image: url(img/shattered.png);
	background-color: 	#dddede ;
	margin:0 auto;
	width: 90%;
	max-width: 1024px;
	font-family: 'Arial';
	font-weight: 400;
	height:	90vh;
	font-size: 16px;

}
main{
	
}
header {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	align-items: center;
	flex-wrap: wrap;
	font-weight: 400;
}

.header{
	display: flex;
	flex-direction: column;	
	position: relative;
	margin-bottom: 0px;
	font-weight: 400;
	padding-left: 	10px; 	
}
.surname{
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 	5px;	
	border: 3px solid #B00000;
}
.name{
	position: absolute;
	border: 3px solid #4d4dff;
	line-height: 	39px;
	padding-top: 10px;
	top:44px;
	left: 30px;
	padding-left: 5px;
	padding-right: 	5px;: 
}
.contacts{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.portfolio__header{
	font-weight: 400;
	margin-top: 10px;
	margin-left: 10px; 	
	margin-bottom: 0px;
}
.portfolio__sitelist{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding:0; 	
}


.portfolio__sitelist img{	
	position: relative;
	width: 100%;	
	background-color: #eeeeee;
	
}	

.portfolio__sitelist li{
	position: relative;
	z-index: 110;
	margin-bottom: 	30px;
	font-size: 	0px;
	width: 45%;
	height: 100%;
	box-shadow: -0.53px 0.848px 2px 0px rgba(0, 0, 0, 0.05);
}

.hover{	
	position: absolute;
	width: 	100%;
	height: 0%;
	bottom: 0px;
	left: 	0px;
	overflow: hidden;
	transition: height 0.2s;


}
.hover__textblock{	
	color: #ffffff;
	width: 100%;	
	background-color: 	#000000;
	position: absolute;
	min-height: 120px;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 250;
}
.hover__header{
	padding-left: 	20px;
	font-size: 	18px;
	text-decoration: underline;	
	z-index: 301;
}
.hover__description{
	font-size: 	14px;
	padding-left: 	20px;
	padding-right: 	20px;
	width: 	80%;
	color: yellow;
	z-index: 300;
	white-space:pre-wrap;
	word-wrap:break-word;

}

.hover__background{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	z-index: 90;
}
.portfolio__sitelist a{
	font-size: 0;
	z-index: 100;
}

.portfolio__sitelist li:hover .hover{
 height: 100%
}

a {
	color: #000;
}
a:hover {
	color: blue;
}

@media (max-width: 482px){
	.portfolio__sitelist li{
		width: 85%;

	}
}