body{
	background-color: #ffffff;
	font-family: "Roboto", "Arial",  sans-serif;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	min-width: 1200px;
}

.wrapper{
	margin: 0 auto;
	background-color: #eeeeee;
	width: 100%;

}
.wrapp{
	width: 880px;
	margin: 0 auto;
}

.container {
	width:880px;
	margin: 0 auto;
}

.index-contacts {
	width:1200px;
	margin: 0 auto; 
}
.logo{
	display: inline-block;
	float: left;
	padding-top: 30px;
}
nav{
	max-width:450px; 
	display: inline-block;

}
nav li{
	display: inline-block;
	font-size: 0;
	position: relative;
}
nav:last-child{
	margin-right: 0;
}
header{
	min-height: 90px;
	font-weight: 700;
	text-transform:uppercase;
	background-color: #eeeeee;
	}
.active{ 
	position: relative;
	background-color: none;
}
.active:hover{
	
}
.active:after{
	content: "";
	position: absolute;
	bottom: -5px;
	right: 0px;
	left: 0px;
	height: 2px;
	background-color: #fb565a;
}
.bucket{
	float:right;
	display: inline-block;
	padding-top: 65px;
}
.icon-basket span{
	color: #000000;
	padding-left: 12px;
}
.bucket :hover {
	color: #fb565a;
}
.bucket :active{
	color: #8f8f8f;
}
 .icon-basket {
	color: #a6a6a6;
}
.main-navigation ul{
	display: inline-block;
	width: 440px;
	font-size: 0;
	
	padding-left: 0;
	margin-right: 0;
	padding-right: 0;
}
.main-navigation{
	padding-top: 65px;
	padding-left: 185px;
}
.main-navigation li{
	font-size: 14px;
	margin-right: 44px;
}
.main-navigation li:last-child{
	margin-right: 0;
}
nav ul{
	margin: 0;
}
a{
	text-decoration: none;
	color: #000000;
}
.main-navigation a:hover {
	color: #fb565a;
}
.main-navigation a:active{
	color: #8f8f8f;
}

.carousell{
	position: relative;
	height: 350px;
	overflow: hidden;
	
}
.carousell img{
	float: right;	
	margin-right: 0;
	padding-right: 0;
}
.carousell h2{
	margin-top: 0;
   
}
.slide3 img{
	margin-top: 20px;
} 
.slide-header{	
	margin-bottom: 20px;
	padding-top: 70px;
	font-size: 36px;
	
	line-height: 36px;
}

.slide-description{
	margin-bottom: 35px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin-top: 0px;
	color: #283136;
}

.slide {
	background-color: #eeeeee;
	width: 880px;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	transition: left 0s .75s;
	height: 350px;
}
.carousell-button{
	background-color: #fb565a;
	font-size: 12px;
	font-weight: 700;
	text-transform:uppercase;
	color: #ffffff;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 5px;
	top:230px;
	left:0px;
	z-index: 2000;
	position: absolute;
}

.carousell-button:hover{
	background-color: #d6494d;
}
.carousell-button:active{
	background-color: #b63538;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}

#slides {
background-color: #eeeeee;
	width: 880px;
	position: absolute
height: 350px;
}
.inner {width: 500%;}

.page {float: left;
width: 20%;
}
.page img {
	float: right;
	margin-top: 50px;
	margin-right: 0;
	padding-right: 0;
}

#overflow {
	overflow: hidden;
}
#slider input {
	display: none;
}


													/* перелистывание фотографий */	


#slide1:checked ~ #slides .inner { margin-left:0;} 
#slide2:checked ~ #slides .inner { margin-left:-100%;} 
#slide3:checked ~ #slides .inner { margin-left:-200%;} 
#slide4:checked ~ #slides .inner { margin-left:-300%;} 
#slide5:checked ~ #slides .inner { margin-left:-400%;} 

/*точки для перелистывания*/
#active {
	margin: 0;
	padding:0;
	position: absolute;
	bottom: 26%;
	left: 46%;
	z-index: 900;
	width: 100%;
}
#active label{	
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: white;
	left: 0;
	border-radius: 50%;	
	position: relative;
	margin-right: 5px;
	cursor: pointer;
}

#slide1:checked ~ #active label:nth-child(1):after
{
	content: "";
    display: inline-block;
    width: 4px;
    height: 4px;  
    background: #c1c1c1;
    position: absolute;
    border-radius: 50%;
    top:3px;
    left: 3px;

}
#slide2:checked ~ #active label:nth-child(2):after
{
content: "";
    display: inline-block;
    width: 4px;
    height: 4px;  
    background: #c1c1c1;
    position: absolute;
    border-radius: 50%;
    top:3px;
    left: 3px;
}
#slide3:checked ~ #active label:nth-child(3):after
{ 	
	content: "";
    display: inline-block;
    width: 4px;
    height: 4px;  
    background: #c1c1c1;
    position: absolute;
    border-radius: 50%;
    top:3px;
    left: 3px;
}

#slides .inner {
transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
animation: inner 2s infinite;

}

.feauchers{
	padding-left: 0;
	padding-right: 0;
	margin-top: 80px; 
	min-height: 380px;
	border-bottom: 2px solid #eeeeee;
}

.feauchers-item{
	margin-right: 80px;
	float: left;
	display: inline-block;
	width: 240px;
	min-height: 300px;
}
.feauchers-item:nth-child(3){
	margin-right: 0;
	float: right;
}
.feauchers-item h3{
	margin-top: 25px;
	font-size: 18px;
	text-transform: uppercase;

}
.feauchers-item p {
	font-size: 15px;
	font-weight: 700;
	color: #283136;
	margin-top: 20px;
	line-height: 22px;
	margin-bottom: 0;
}
.order-button{
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	text-transform:uppercase;
	color: #ffffff;
	line-height: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 3px;
	margin-top: 28px;
}
.order-button.red:hover{
	background-color: #d6494d;
}
.order-button.red:active{
	background-color: #b63538;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}
.order-button.green:hover{
	background-color: #01a25e;
}
.order-button.green:active{
	background-color: #009053;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}
.order-button.yellow:hover{
	background-color: #d6ae2c;
}
.order-button.yellow:active{
	background-color: #c09b24;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}
.red{
	background-color: #fb565a;
}
.green{
	background-color: #00ca74;
}
.yellow{
	background-color: #efc84a;
}
.index-content-left{
	float:left;
	width: 640px;
	min-height: 470px;
}
h1{
	margin-bottom: 	25px;
	margin-top: 0px;
	padding-top: 65px;
	font-size: 36px;
	line-height: 36px;
	width: 522px;
}
.studio-description{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #283136;
	width: 575px;
	line-height: 20px;
	margin:0;
}
.about-studio{
	display: inline-block;
	min-height: 470px;
	border-bottom: 2px solid #eeeeee;
}
.about-studio ul{
	display: inline-block;
	padding-left: 0;
	margin-top: 0; 	
}
.about-studio  h2{
	display: block;
	color: #283136;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 18px;
	padding-bottom: 25px;
	margin-bottom: 0;
	margin-top: 50px;
}
.about-studio li{
   display: inline-block;
   width: 100%;
    padding-left: 35px;
	list-style-type: none;
	color: #283136;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 28px;	
	position: relative;
	
}
.about-studio li:before{
content: "";
position: absolute;
height: 2px;
background-color: #fb565a;
width: 25px;
top:50%;
left: 0;
}
.index-content-right{
	float: right;
	width: 240px;
	min-height: 470px;
}
.index-content-right h2{
	margin-top: 70px;
}
.logo_content {
	margin-top: 60px;	
	position: relative;	
}
.logo_content img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.logo_content span{
	text-transform: uppercase;
	padding: 0 15px;
	background:  #ffffff;
	line-height: 20px;
	position: relative;
	font-size: 16px;
	font-weight: 700;
}
.logo_content div:before {	
	content: "";
    display: block;
    height: 2px;
    background-color: #eeeeee;
    position: absolute;
    top: 50%;
    width: 100%;
}
.logo_content div{
	margin-top: 25px;
	text-align: center;
	display: block;
	position: relative;
}
.partners{
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 2px solid #eeeeee;
}
.partners-list a {
	opacity: 0.3;
}

.partners-list {
	top:25%;
	margin: 0;	
	padding-left: 12px;
}
.partners-list a:hover{
	opacity: 1;	
}
.partners-list li{
	vertical-align: middle;
	padding-right: 120px;
	list-style-type: none;
	display: inline-block;
}

.partners-list li:nth-child(3){
	padding-right: 0px;
}


.index-contacts{	
	margin-top: 85px;
	width: 	100%;
}
.wrapp-contacts{
	width: 	880px;
	margin: 0 auto;
	position: 	relative;	
}
.contacts{
	top:85px;
	left: 0px;
	position: absolute;
	background-color: white;
	width: 250px;
	min-height: 240px;
}
.contacts .order-button{
	padding-right: 56px;
	padding-left: 56px;
	margin-left: 20px;
	margin-top:25px;
}
.contacts  h4{
	margin-top: 0; 
	font-size: 16px;
	padding-left: 20px;
	padding-top: 30px;
	line-height: 18px;
}
.contacts p{
	padding-left: 20px;
	color: #666666;
	font-size: 16px;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 0;
}
.contacts .telephone{
	display: block;
	margin-top: 25px;
	margin-bottom: 0px;
	line-height: 16px;
}
footer{
	min-height: 215px;
}
footer a{
	float:left;
}
.footer-content-right{
	margin-top: 65px;
	float:right;
	margin-right: 	32px;
}
.footer-content-right p:first-child{
	font-size: 	36px;
	margin: 0px;
	color: 	#000000;
	line-height:38px;
}
.footer-content-right p{
	font-size: 	16px;
	font-weight: 700;
	color: 	#283136;
	margin-top: 13px;
}
.footer-social{
	display: inline-block;
	margin-top: 70px;
	width: 	240px;
}
.social-btn{
	vertical-align: top;
	border-radius: 50%; 
	 display: flex;
	width: 60px;
	height: 60px;
	margin: 0 2px;
	background: #e1e1e1;
	font-size: 0;
	text-decoration: none;
	margin-right: 	27px;
	position: relative;
}
.social-btn:hover{
	background: #fb565a;
}
.social-btn:active{
	background-color: #b63538;
	box-shadow: inset 0px 2px 0px 0px rgba(50, 50, 50, 0.41);
}
.social-btn:nth-child(3){
	margin-right: 0px;
}
.sprite-icon-vk{
	background: url(img/spritesheet.png) no-repeat;
	display: block;
	width: 26px;
    height: 15px;
    background-position: -27px -36px;
    margin: auto;
    /***не работает!**/

}
.sprite-icon-facebook{
	background: url(img/spritesheet.png) no-repeat;
	display: block;	
	width: 12px;
    height: 22px;
    background-position: -5px -5px;
    
    margin: auto;
	
}
.sprite-icon-instagramm{
	background: url(img/spritesheet.png) no-repeat;
	background-position: -27px -5px;
	display: block;	
	width: 21px;
    height: 21px;
    
    margin: auto; 
}
/**************************************CATALOG**************************************/
.catalog-header-box{
	min-height: 230px;
}
.catalog-header {
	font-size: 40px;
	width: 653px;
	text-align: center;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	line-height: 46px;
}
.catalog-main{
	display: flex;
	justify-content:space-between;
	margin-top: 80px;
	min-height: 1130px;
}
.catalog-main-left{
	display: flex;
	flex-direction: column;
	width: 240px;
	min-height: 1130px;
}
.catalog-main-right	{
	display: flex;
	flex-direction: column;

	width: 560px;
	min-height: 1130px;
}
.price-select{
	min-height: 170px;
	width: 100%;
}
.price-select p{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom:0; 
}
.price-line-block{
	background-color: #f1f1f1;
	height: 80px;
	width: 100%;
	margin-top: 22px;
	position: relative; 
}
.price-line{
	position: absolute;
	height: 2px;
	width: 190px;
	background-color: #d7dcde;
	top: 50%;
	left: 10%;
}
.price-line-active{
	position: absolute;
	height: 2px;
	width: 130px;
	background-color: #00ca74;
	top: 50%;
	left: 12%;
}
.price-circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ffffff;
	top:39%;	
	cursor: pointer;
	z-index: 100;
}
.price-circle:before{
	width: 4px;
	height: 4px;
	background-color: #ababab;
	position: absolute;
	top: 38%;
	left: 40%;
	z-index: 100;
	border-radius: 50%; 
	content: "";
}
.price-circle:last-child:before{
	opacity: 0.8;
}
.price-select-form{	
	font-size: 0px;
	display: flex;
	align-items: center;

}
.price-select-form__item{
	display: inline-block;	
}
.price-select-form p{ 
	display: inline-block;	

	margin-right: 11px;
	font-size: 14px;
	color: #283136;
}
.price-select input{
	background-color: #f1f1f1;
	outline: none;
	font:inherit;
	color: inherit;
	text-transform: inherit;
	width: 80px;
	display: inline-block;
	text-align: center;
	border: none;
	height: 40px;
	font-weight: 700;
	color: #283136;
	border-radius: 5px;
	margin-top: 15px;
	margin-right: 20px;
	font-size: 14px;
}
.price-select-form input:last-child{
	margin-right: 0px;
}
	
.start-circle{
	left: 20px;
	-webkit-box-shadow: 0px 2px 0px 0px #cfcfcf;
-moz-box-shadow:    0px 2px 0px 0px #cfcfcf;
box-shadow:         0px 2x 0px 0px #cfcfcf;
}
.end-circle{

	right: 70px;
	-webkit-box-shadow: 0px 2px 0px 0px #dcdcdc;
-moz-box-shadow:    0px 2px 0px 0px #dcdcdc;
box-shadow:         0px 2px 0px 0px #dcdcdc;
}
.grid-group{ 
	font-weight: 700;
	margin-bottom:0; 
 }
 .grid-group legend{
 	margin-top: 50px;
 	text-transform: uppercase;
 }
 .grid-group ul{
  	list-style: none;
 	padding-left: 0;
 }
 .grid-group li{
 	color: #283136;
 	font-size: 16px;
 	line-height: 20px;
 	margin-top: 20px;
 }
 .grid-group li:hover{
 	color: #000000;
 }
 input[type="radio"], input[type="checkbox"]{
	display: none;
}
.list label {
	padding-left: 35px;
}

.catalog-main-left input[type="radio"] + label{	
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;

}
.catalog-main-left input[type="radio"] + label::before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #c1c1c1;
	position: absolute;	
	left: 0;
	border-radius: 50%;
	top:-2px;
}
.catalog-main-left input[type="radio"]:checked + label::after{
	content: "";
    display: block;
    width: 7px;
    height: 7px;  
    background: #c1c1c1;
    position: absolute;
    border-radius: 50%;
    top:5px;
    left: 7px;
}

.login-checkbox{
	position: relative;
	cursor: pointer;
}

.login-checkbox input[type="checkbox"]+.checkbox-indicator::before{
	content: "\2610";
	top:-1px;
    left: 0;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-nerds";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
    position: absolute;
    font-size: 24px; 
    color: #c1c1c1;

}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before
{   
	position: absolute;
 	content: "\2611";	
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-nerds";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
    color: #c1c1c1;
    font-size: 24px; 
}
.order-button-gray{
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	text-transform:uppercase;
	color: #000000;
	line-height: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 3px;
	margin-top: 28px;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
}

.order-button-gray:hover{
	background-color: #e5e5e5;
}
.order-button-gray:active{
	background-color: #d5d5d5;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}
.sorting{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}
.sorting ul{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-shrink: 0;
}
.sorting li{
	font-size: 12px;
	display: inline-block;
	margin-right: 45px;
	text-transform: uppercase;
	font-weight: 700;
	color: #cacaca;
	cursor: pointer;
	border-bottom: 2px dotted #00ca74;
	padding-bottom: 4px;
}
.sorting li:hover{
	border-bottom: 2px solid #00ca74;
	color: #000000;
}
.sorting li:active{
	border-bottom: none;
	color: #000000;
}
.sorting li:last-child{
	margin-right: 0px;
}

.sorting  p{
	text-transform: uppercase;
	font-weight: 700;
	margin:0; 
    font-size: 12px;
	display: inline-block;
}
.selectors {
	display: flex;
	padding-right: 10px;
}
.selectors li{
	display: inline-block;
	margin-right: 15px;

}


.trigon-group input[type="radio"] + label{	
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: relative;

}
.trigon-group input[type="radio"] + label::before{
	content: "\25bc";
	display: inline-block;
	position: absolute;
	color: #c1c1c1;
	top: 0;
	
}
.trigon-group input[type="radio"]:checked + label::after{
	content: "\25bc";
    display: inline-block;
    color: #00ca74;
    position: absolute;
    top: 0;
}

.trigon-group2 input[type="radio"] + label{	
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: relative;
	top: 0;

}
.trigon-group2 input[type="radio"] + label::before{
	content: "\25b2";
	display: inline-block;
	position: absolute;
	color: #c1c1c1;
	top: 0;
}
.trigon-group2 input[type="radio"]:checked + label::after{
	content: "\25b2";
    display: inline-block;
    color: #00ca74;
    position: absolute;
    top: 0;
}
.portfolio{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	font-size: 	0;
}
.portfolio-item{
	margin-top: 80px;
	margin-right: 80px; 	
    float: left;
	width: 240px;
	height: 270px;
	background-color: #f1f1f1;
	position: relative;
	border-top-left-radius: 10px; /* Левый верхний уголок */
	 -moz-border-radius-topleft:10px;
      -webkit-border-top-left-radius:10px;
    border-top-right-radius: 10px;
     -moz-border-radius-topright:10px;
      -webkit-border-top-right-radius:10px;
}
.portfolio-item:nth-child(2n){
	margin-right: 0px;

}
.portfolio-item:nth-child(-n+2){
	margin-top: 0px;

}
.portfolio-item:hover {
	background-color: #797979;
}
.portfolio-item:hover .hover-item{
	display: inline-block;	
}
.portfolio-item ul{
	display: inline-block;
	margin: 0;
	padding: 0;
	position: absolute; 
	top: -5px;
	left: 5px;
}	
.portfolio-item li{
	display: inline-block;
	margin-right: 15px;
}
.circle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffffff;
	margin-right: 20px;
	z-index: 100;
	position: absolute; 
}
.portfolio-img{
	position: absolute;
	bottom: 0px;
	line-height: 0;
}
.hover-item{
	font-weight: 700;
	width: 200px;
	height: 200px;
	background-color: #ffffff;
	text-align: center;
	position: absolute;
	display: none;
	top: 50px;
	left: 20px;

}
.hover-item h2{
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 35px;
	font-size: 	18px;

}
.hover-item p{
	margin-top: 20px; 	
	color: #283136;
	margin-bottom: 0;
	font-size: 	14px;
} 
.hover-item .fixed-btn{
	margin-top: 12px;
}
.paginator{
	display: inline-block;
	margin-top:80px;
	margin-bottom: 80px; 

}
.paginator ul{
	display: inline-block;
	margin: 0;
	padding: 0;

}
.paginator li{
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.paginator-btn{
	display: inline-block;
	font-size: 14px;
	list-style-type: none;
	font-weight: 700;
	text-transform:uppercase;
	color: #000000;
	line-height: 14px;
	background-color: #f1f1f1;
	width: 38px;
	height: 38px;	
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	outline: none;
	border: none;
}
.paginator .order-button-gray {
	background-color: #f1f1f1;
	margin-top: 0; 


}
.paginator .order-button-gray:hover{
	background-color: #e5e5e5;

}
.active-paginator{
	background-color: #ffffff;
	display: inline-block;
	font-size: 14px;
	list-style-type: none;
	font-weight: 700;
	text-transform:uppercase;
	color: #000000;
	line-height: 14px;	
	width: 38px;
	height: 38px;	
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	outline: none;
	border: 2px solid #f1f1f1;
}
.paginator .paginator-btn:hover{
	background-color: #e5e5e5;
}
.paginator .paginator-btn:active{
	background-color: #d5d5d5;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}
/**********************************************************************************/
/************************************modal*****************************************/

.modal-content{
	display: none;
	width: 635px;
	min-height: 415px;
	color: #000000;
	position: fixed;
	background-color: #ffffff;
	top:0;
	left: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
	z-index: 150;
	top: 50%;
	left: 50%;
	margin: -207px 0 0 -317px;
}
.modal-content-show{
	display: block;
}
.modal-content-close {
	font-size: 0px;
	border: 0;
	outline: 0;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: -34px;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	width: 22px;
	height: 22px;
}
.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
	top: 10px;
	left: 2px;
	
	
}
.modal-content-close::before{
	transform: rotate(45deg);
}
.modal-content-close::after {
	transform: rotate(-45deg);
}
.modal-content h2{
	margin: 0;
	margin-bottom: 	20px;
	font-size: 	30px;
	line-height:  42px;
}
.name p{
	margin: 0;
	margin-bottom: 	14px;	
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
}
.modal-content .login-form{
	margin-bottom: 10px;
}
.name input[type="text"],
.name input[type="password"]{
    
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 10px;
	font-weight: 700;
	background-color: #f9f6f3;
	border: 2px solid #d7dcde;
	border-radius: 5px;
	outline: none;
}
.letter input {
	width: 100%;
}
.login-form input:focus{
	border-color: #663d15;
}

.login-form .restore {
	float:right;
	color: #000000;
}
.login-form .btn {
	width: 100%;
	margin-top:18px;
}
.name{
	padding:  60px 90px;

}
.user-data-block-left{
	float: left;
}
.user-data-block-right{
	float:right;
}

