body{
	background-color: #ffffff;
	font-family: "Roboto", "Arial",  sans-serif;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	min-width: 1200px;
}
.wrapper{
	margin: 0 auto;
	background-color: #eeeeee;
	width: 100%;

}
.wrapp{
	width: 880px;
	margin: 0 auto;
}
.container {
	width:880px;
	margin: 0 auto;
}

.index-contacts {
	width:1200px;
	margin: 0 auto; 
}
.logo{
	display: inline-block;
	float: left;
	padding-top: 30px;
}
nav{
	max-width:450px; 
	display: inline-block;

}
nav li{
	display: inline-block;
	font-size: 0;
	position: relative;
}
nav:last-child{
	margin-right: 0;
}
header{
	min-height: 90px;
	font-weight: 900;
	text-transform:uppercase;
	background-color: #eeeeee;
	}
.active{ 
	position: relative;
	background-color: none;
}
.active:hover{
	
}
.active:after{
	content: "";
	position: absolute;
	bottom: -5px;
	right: 0px;
	left: 0px;
	height: 2px;
	background-color: #fb565a;
}
.bucket{
	float:right;
	display: inline-block;
	padding-top: 65px;
}
.icon-basket span{
	color: #000000;
	padding-left: 12px;
}
.bucket :hover {
	color: #fb565a;
}
.bucket :active{
	color: #8f8f8f;
}
 .icon-basket {
	color: #a6a6a6;
}
.main-navigation ul{
	display: inline-block;
	width: 440px;
	font-size: 0;
	margin-left: 185px;
	padding-left: 0;
	margin-right: 0;
	padding-right: 0;
}
.main-navigation{
	float:left;
	padding-top: 65px;
}
.main-navigation li{
	font-size: 14px;
	margin-right: 44px;
}
.main-navigation li:last-child{
	margin-right: 0;
}
nav ul{
	margin: 0;
}
a{
	text-decoration: none;
	color: #000000;
}
.main-navigation a:hover {
	color: #fb565a;
}
.main-navigation a:active{
	color: #8f8f8f;
}

.carousell{
	position: relative;
	height: 350px;
	overflow: hidden;
	
}
.carousell img{
	float: right;	
	margin-right: 0;
	padding-right: 0;
}
.carousell h2{
	margin-top: 0;
    max-width: 470px;
}
.slide3 img{
	margin-top: 20px;
} 
.slide-header{	
	margin-bottom: 20px;
	padding-top: 70px;
	font-size: 36px;
	min-width: 250px;
	line-height: 36px;
}

.slide-description{
	margin-bottom: 35px;
	max-width: 470px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin-top: 0px;
	color: #283136;
}

.slide {
	background-color: #eeeeee;
	width: 880px;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	transition: left 0s .75s;
	height: 350px;
}
.carousell-button{
	background-color: #fb565a;
	font-size: 12px;
	font-weight: 700;
	text-transform:uppercase;
	color: #ffffff;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 5px;
	top:230px;
	left:0px;
	z-index: 2000;
	position: absolute;
}

.carousell-button:hover{
	background-color: #d6494d;
}
.carousell-button:active{
	background-color: #b63538;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}

#slides {
background-color: #eeeeee;
	width: 880px;
	position: absolute
height: 350px;
}
.inner {width: 500%;}

.page {float: left;
width: 20%;
}
.page img {
	float: right;
	margin-top: 50px;
	margin-right: 0;
	padding-right: 0;
}

#overflow {
	overflow: hidden;
}
#slider input {
	display: none;
}


													/* перелистывание фотографий */	


#slide1:checked ~ #slides .inner { margin-left:0;} 
#slide2:checked ~ #slides .inner { margin-left:-100%;} 
#slide3:checked ~ #slides .inner { margin-left:-200%;} 
#slide4:checked ~ #slides .inner { margin-left:-300%;} 
#slide5:checked ~ #slides .inner { margin-left:-400%;} 

/*точки для перелистывания*/
#active {
	margin: 0;
	padding:0;
	position: absolute;
	bottom: 26%;
	left: 46%;
	z-index: 900;
	width: 100%;
}
#active label{	
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: white;
	left: 0;
	border-radius: 50%;	
	position: relative;
	margin-right: 5px;
	cursor: pointer;
}

#slide1:checked ~ #active label:nth-child(1):after
{
	content: "";
    display: inline-block;
    width: 4px;
    height: 4px;  
    background: #c1c1c1;
    position: absolute;
    border-radius: 50%;
    top:3px;
    left: 3px;

}
#slide2:checked ~ #active label:nth-child(2):after
{
content: "";
    display: inline-block;
    width: 4px;
    height: 4px;  
    background: #c1c1c1;
    position: absolute;
    border-radius: 50%;
    top:3px;
    left: 3px;
}
#slide3:checked ~ #active label:nth-child(3):after
{ 	
	content: "";
    display: inline-block;
    width: 4px;
    height: 4px;  
    background: #c1c1c1;
    position: absolute;
    border-radius: 50%;
    top:3px;
    left: 3px;
}

#slides .inner {
transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
animation: inner 2s infinite;

}

.feauchers{
	padding-left: 0;
	padding-right: 0;
	margin-top: 80px; 
	min-height: 380px;
	border-bottom: 2px solid #eeeeee;
}

.feauchers-item{
	margin-right: 80px;
	float: left;
	display: inline-block;
	width: 240px;
	min-height: 300px;
}
.feauchers-item:nth-child(3){
	margin-right: 0;
	float: right;
}
.feauchers-item h3{
	margin-top: 25px;
	font-size: 18px;
	text-transform: uppercase;

}
.feauchers-item p {
	font-size: 15px;
	font-weight: 700;
	color: #283136;
	margin-top: 20px;
	line-height: 22px;
	margin-bottom: 0;
}
.order-button{
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	text-transform:uppercase;
	color: #ffffff;
	line-height: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 3px;
	margin-top: 28px;
}
.order-button.red:hover{
	background-color: #d6494d;
}
.order-button.red:active{
	background-color: #b63538;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}
.order-button.green:hover{
	background-color: #01a25e;
}
.order-button.green:active{
	background-color: #009053;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}
.order-button.yellow:hover{
	background-color: #d6ae2c;
}
.order-button.yellow:active{
	background-color: #c09b24;
	box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.41);
}
.red{
	background-color: #fb565a;
}
.green{
	background-color: #00ca74;
}
.yellow{
	background-color: #efc84a;
}
.index-content-left{
	float:left;
	width: 640px;
	min-height: 470px;
}
h1{
	margin-bottom: 	25px;
	margin-top: 0px;
	padding-top: 65px;
	font-size: 36px;
	line-height: 36px;
	width: 522px;
}
.studio-description{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #283136;
	width: 575px;
	line-height: 20px;
	margin:0;
}
.about-studio{
	display: inline-block;
	min-height: 470px;
	border-bottom: 2px solid #eeeeee;
}
.about-studio ul{
	display: inline-block;
	padding-left: 0;
	margin-top: 0; 	
}
.about-studio  h2{
	display: block;
	color: #283136;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 18px;
	padding-bottom: 25px;
	margin-bottom: 0;
	margin-top: 50px;
}
.about-studio li{
   display: inline-block;
   width: 100%;
    padding-left: 35px;
	list-style-type: none;
	color: #283136;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 28px;	
	position: relative;
	
}
.about-studio li:before{
content: "";
position: absolute;
height: 2px;
background-color: #fb565a;
width: 25px;
top:50%;
left: 0;
}
.index-content-right{
	float: right;
	width: 240px;
	min-height: 470px;
}
.index-content-right h2{
	margin-top: 70px;
}
.logo_content {
	margin-top: 60px;	
	position: relative;	
}
.logo_content img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.logo_content span{
	text-transform: uppercase;
	padding: 0 15px;
	background:  #ffffff;
	line-height: 20px;
	position: relative;
	font-size: 16px;
	font-weight: 700;
}
.logo_content div:before {	
	content: "";
    display: block;
    height: 2px;
    background-color: #eeeeee;
    position: absolute;
    top: 50%;
    width: 100%;
}
.logo_content div{
	margin-top: 25px;
	text-align: center;
	display: block;
	position: relative;
}
.partners{
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 2px solid #eeeeee;
}
.partners-list a {
	opacity: 0.3;
}

.partners-list {
	top:25%;
	margin: 0;	
	padding-left: 12px;
}
.partners-list a:hover{
	opacity: 1;	
}
.partners-list li{
	vertical-align: middle;
	padding-right: 120px;
	list-style-type: none;
	display: inline-block;
}

.partners-list li:nth-child(3){
	padding-right: 0px;
}


.index-contacts{	
	margin-top: 85px;
	width: 	100%;
}
.wrapp-contacts{
	width: 	880px;
	margin: 0 auto;
	position: 	relative;	
}
.contacts{
	top:85px;
	left: 0px;
	position: absolute;
	background-color: white;
	width: 250px;
	min-height: 240px;
}
.contacts .order-button{
	padding-right: 56px;
	padding-left: 56px;
	margin-left: 20px;
	margin-top:25px;
}
.contacts  h4{
	margin-top: 0; 
	font-size: 16px;
	padding-left: 20px;
	padding-top: 30px;
	line-height: 18px;
}
.contacts p{
	padding-left: 20px;
	color: #666666;
	font-size: 16px;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 0;
}
.contacts .telephone{
	display: block;
	margin-top: 25px;
	margin-bottom: 0px;
	line-height: 16px;
}
footer{
	min-height: 215px;
}
footer a{
	float:left;
}
.footer-content-right{
	margin-top: 65px;
	float:right;
	margin-right: 	32px;
}
.footer-content-right p:first-child{
	font-size: 	36px;
	margin: 0px;
	color: 	#000000;
	line-height:38px;
}
.footer-content-right p{
	font-size: 	16px;
	font-weight: 700;
	color: 	#283136;
	margin-top: 13px;
}
.footer-social{
	display: inline-block;
	margin-top: 70px;
	width: 	240px;
}
.social-btn{
	vertical-align: top;
	border-radius: 50%; 
	 display: flex;
	width: 60px;
	height: 60px;
	margin: 0 2px;
	background: #e1e1e1;
	font-size: 0;
	text-decoration: none;
	margin-right: 	27px;
	position: relative;
}
.social-btn:hover{
	background: #fb565a;
}
.social-btn:active{
	background-color: #b63538;
	box-shadow: inset 0px 2px 0px 0px rgba(50, 50, 50, 0.41);
}
.social-btn:nth-child(3){
	margin-right: 0px;
}
.sprite-icon-vk{
	background: url(img/spritesheet.png) no-repeat;
	display: block;
	width: 26px;
    height: 15px;
   	background-position: -27px -36px;
    margin: auto;

}
.sprite-icon-facebook{
	background: url(img/spritesheet.png) no-repeat;
	display: block;	
	width: 12px;
    height: 22px;
    background-position: -5px -5px;
    
    margin: auto;
	
}
.sprite-icon-instagramm{
	background: url(img/spritesheet.png) no-repeat;
	background-position: -27px -5px;
	display: block;	
	width: 21px;
    height: 21px;
    
    margin: auto; 
}
/**************************************CATALOG**************************************/
.catalog-header {
	font-size: 40px;
	width: 653px;
	text-align: center;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	line-height: 46px;
}
.catalog-main{
	margin-top: 80px;
	min-height: 1130px;
}
.catalog-main-left{
	float: left;
	width: 240px;
	min-height: 1130px;
}
.catalog-main-right	{
	float: right;
	width: 540px;
	min-height: 1130px;
}
.price-select{
	min-height: 170px;
	width: 100%;
}
.price-select p{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom:0; 
}
.price-line-block{
	background-color: #f1f1f1;
	height: 80px;
	width: 100%;
	margin-top: 22px;
	position: relative; 
}
.price-line{
	position: absolute;
	height: 2px;
	width: 190px;
	background-color: #d7dcde;
	top: 50%;
	left: 10%;
}
.price-line-active{
	position: absolute;
	height: 2px;
	width: 130px;
	background-color: #00ca74;
	top: 50%;
	left: 12%;
}
.price-circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ffffff;
	top:39%;	
	cursor: pointer;
	z-index: 100;
}
.price-circle:before{
	width: 5px;
	height: 5px;
	background-color: #ababab;
	position: absolute;
	top: 35%;
	left: 38%;
	z-index: 100;
	border-radius: 50%; 
	content: "";
}
.price-circle:last-child:before{
	opacity: 0.8;
}
.price-select-form{
	display: inline-block;
	
}
.price-select-form p{
 
	
	margin-right: 10px;
}
.price-select input{
	background-color: #f1f1f1;
	outline: none;
	font:inherit;
	color: inherit;
	text-transform: inherit;
	width: 80px;
	display: inline-block;
	text-align: center;
	border: none;
	height: 40px;
	font-weight: 700;
	color: #283136;
	border-radius: 5px;
	margin-top: 15px;
	margin-right: 20px;
}
.price-select-form input:last-child{
	margin-right: 0px;
}
	
.start-circle{
	left: 20px;
	-webkit-box-shadow: 0px 3px 0px 0px #cfcfcf;
-moz-box-shadow:    0px 3px 0px 0px #cfcfcf;
box-shadow:         0px 3px 0px 0px #cfcfcf;
}
.end-circle{

	right: 70px;
	-webkit-box-shadow: 0px 3px 0px 0px #dcdcdc;
-moz-box-shadow:    0px 3px 0px 0px #dcdcdc;
box-shadow:         0px 3px 0px 0px #dcdcdc;
}

/**********************************************************************************/