/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-icon_facebook {
  background-image: url(sprite.png);
  background-position: 0px -14px;
  width: 9px;
  height: 18px;
}
.icon-icon_twitter {
  background-image: url(sprite.png);
  background-position: -20px 0px;
  width: 18px;
  height: 14px;
}
.icon-icon_youtube {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 14px;
}
